@charset "UTF-8";


body {
  /*ページ全体の背景色をベージュに*/
  background: #fffbf4;
  
}
h1 {
  /*h1タグ内の文字色を変える*/
  color: #f89174;
  font-size:120px;
  text-align: center;
}
#headline {
  /*id="headline"の下に点線を引く*/
  border-bottom: dotted 2px #f89174;
}
#headline p {
  /*id="headline"の中のフォントサイズを1.2倍に*/
  font-size: 1.2em;
}
h2 {
  /*h2タグの文字色をオレンジに*/
  color:orange;
  font-size:85px;
  text-align: center;
}
a {
  /*リンクの文字色をグレイに*/
  color:gray;
}
table{
    margin: auto;
    font-size: 13pt;
    text-align: center;
    line-height: 30px;
    }
div{
float:inline-start;
padding:50px;
font-size: 50px;
}
.cp_hr07 {
	position: relative;
	overflow: visible;
	text-align: center;
	color: #f06292;
	border-width: 3px 0 0 0;
	border-style: double;
	border-color: #f06292;
	
}
.nyuuryoku{
	font-size: 50px;
	
}
.cp_hr07::after {
	position: absolute;
	top: -0.7em;
	left: 50%;
	display: inline-block;
	content: '★';
	background: #ffffff;
}
p { font-size:75px;
}
.topic{
	font-size:80px;
}
.sub{
	font-size:70px;
}
.botton{  
 border-radius: 6px;
 margin-top: 32px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 20px;
 padding-bottom: 20px;
 width: 280px;
 display: block;
 letter-spacing: 0.05em;
 background-color:skyblue;
 font-weight: bold;
 font-size: 50px;

}
.namae{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
    
}
.denwa{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
    text-align:left;
    line-height:5;
}
.meado{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
}
.tyuui{
	font-size: 2px;
	line-height:10;
	color: dimgray;
}
.maru{
	font-size: 30%;
	color: red;
	font-weight:  bold;
	text-align: center;
	
}
.batu{
	font-size: 30px;
	font-weight:  bold;
	text-align: center;
}
.label {
display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin:1px; /* ボックス外側の余白を指定する */
width: 100px; /* ボックスの横幅を指定する */
height: 50px; /* ボックスの高さを指定する */
padding-left: 5px; /* ボックス内左側の余白を指定する */
padding-right: 5px; /* ボックス内御右側の余白を指定する */
color: #b20000; /* フォントの色を指定 */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #fffbf4;/* ボックスの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
font-size: 30px;
font-weight:  bold;

}.label2{
	display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin:1px; /* ボックス外側の余白を指定する */
width: 100px; /* ボックスの横幅を指定する */
height: 50px; /* ボックスの高さを指定する */
padding-left: 5px; /* ボックス内左側の余白を指定する */
padding-right: 5px; /* ボックス内御右側の余白を指定する */
color: darkblue; /* フォントの色を指定 */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 2px solid #fffbf4;/* ボックスの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
font-size: 30px;
font-weight:  bold;
}


