@charset "UTF-8";
body {
    /*ページ全体の背景色をベージュに*/
    background:url("../pic/cloud.jpg");
    text-align: center;
    background-size: cover;
}
h1 {
    /*h1タグ内の文字色を変える*/
    color: #f89174;
    font-size:120px;
    text-align: center;
}
#headline {
    /*id="headline"の下に点線を引く*/
    border-bottom: dotted 2px #f89174;
}
#headline p {
    /*id="headline"の中のフォントサイズを1.2倍に*/
    font-size: 1.2em;
}
h2 {
    /*h2タグの文字色をオレンジに*/
    color:orange;
    font-size:85px;
    text-align: center;
}
.menu {
    /*リンクの文字色をグレイに*/
    color:gray;
    text-align: center;
}
.table{
	margin: 2em auto; 
    font-size: 20px;
    text-align: center;
    line-height: 30px;
	}
.sousin{
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	padding:1px;
    font-size: 2pt;
    text-align: center;
    line-height: 40px;
}
div{
    padding:50px;
    font-size: 50px;
}
.cp_hr07 {
	position: relative;
	overflow: visible;
	text-align: center;
	color: #f06292;
	border-width: 3px 0 0 0;
	border-style: double;
	border-color: #f06292;
}
.tb{
	margin: 2em auto; 
	width: 8%;
    padding: 0.6em;
    font-size: 20px;
}
.nyuuryoku{
	width: 10em;
    max-width: 100%;
    padding: 0.8em;
    box-sizing: border-box;
    margin: 0.7em 0 auto;
    font-size: 40px;
}
.th{
	font-size: 30px;
}
.cp_hr07::after {
	position: absolute;
	top: -0.7em;
	left: 50%;
	display: inline-block;
	content: '★';
	background: transparent;
}
p { 
	font-size:50px;
}
.topic{
	font-size:80px;
}
.sub{
	font-size:70px;
}
.botton{  
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background-color:skyblue;
    font-weight: bold;
    font-size: 50px;
}
.anka{
    border-radius: 6px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 295px;
    height: 73px; 
    border: solid 2px #696969;/*線*/
    display: block;
    letter-spacing: 0.05em;
    background-color:rgb(204, 166, 201);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color:#000;
}
.namae{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
    text-align: left;
}
.denwa{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
    text-align:left;
    line-height:10;
    line-height:5;
}
.meado{
	padding-left: 10em;
    padding-right: 10em;
    height: 6em;
    border: 3px solid rgb(43, 60, 60);
    text-align: left;
}
.tyuui{
	font-size: 2px;
	line-height:10;
	color: dimgray;
}
#batu{
	font-size: 50px;
	font-weight:  bold;
	text-align: center;
}
input[type=text]{
	font-size: 200%;
    height: 2em;
    border: 3px solid rgb(43, 60, 60);
    text-align:left;
    line-height:2;
}
input[type=tel]{
	font-size: 200%;
    height: 2em;
    border: 3px solid rgb(43, 60, 60);
    text-align:left;
    line-height:2;
}
input[type=email]{
	font-size: 200%;
    height: 2em;
    border: 3px solid rgb(43, 60, 60);
    text-align:left;
    line-height:2;
}
input[type=radio]{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 65px;
    height: 30px;
    visibility: visible;
}

input[type=radio]:checked{
    border: 3px solid rgb(233, 64, 50);
    box-sizing: border-box;
    color: lightcoral;
}

@media (max-width: 800px) {
    /* 横幅が800px以下の場合に適用するスタイル */
    h1 {font-size: 60px;}
    h2 {font-size: 50px;}
    .cp_hr07 {font-size: 45px;}
    p {font-size: 30px;}
  
}
@media (min-width: 120px) {
    /* 横幅が120px以上の場合に適用するスタイル */
    h1 {font-size: 80px;}
    h2 {font-size: 45px;}
    p{font-size: 30px;}
    .cp_hr07 {font-size: 45px;}
    .th{font-size: 25px;}
    #errormsg{font-size: 30px;
}  
@media (min-width: 320px) {
    p {font-size: 30px;}
}   
#errormsg ul{
	margin:5px 0;
	text-align: left;	
}
#errormsg{
	margin: auto;
	padding: auto;
    color: #C0392B;
	display: inline-block;
    background-color: #f2dede;
	background-image: none;
	border: 1px solid #C0392B;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
}
.err{
	text-align: left;
}
}