@charset "UTF-8";

html, body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
}

#my_container{
	width: 100%; height: 100%;
	display: flex; flex-flow: wrap;
	justify-content: space-around;
	align-items: center;
}

#my_inner{
	margin: 0px; padding: 10px 10px;
	border-radius: 20px;
	background-color: gray; color: white;
	font-size: 2rem; text-align: center;
}

#my_quagga{
	width: 320px; height: 240px; 
	margin: 5px; padding: 0px;
	position: relative;
	background-color: silver;
}

#my_quagga video{
	width: 100%; height: 100%; 
	position: absolute;
	top: 0px; left: 0px;
}

#my_quagga canvas{
	width: 100%; height: 100%; 
	position: absolute;
	top: 0px; left: 0px;
}

#my_result{
	width: 100%; height: 100%; 
	font-size: 1rem; text-align: center;
}

#my_barcode{
	width: 100%; height: 100%;
	display: flex; flex-flow: wrap;
	justify-content: space-around;
	align-items: center;
}


.stars{
 display: -ms-flex;
 display: -webkit-flex;
 display: -moz-flex;
 display: -o-flex;
 display: flex;
 
 flex-direction: -ms-row-reverse;
 flex-direction: -webkit-row-reverse;
 flex-direction: -moz-row-reverse;
 flex-direction: -o-row-reverse; 
 flex-direction: row-reverse;
  
justify-content: -ms-right;
justify-content: -webkit-right;
justify-content: -moz-right;
justify-content: -o-right;
justify-content: right;
}
.stars input[type='radio']{
  display: none;
}
.stars input[type='radio']{
  display: none;
}
.stars label{
  position: relative;
  padding: 10px 0px 20px 0px;
  color: #bbb;
  cursor: pointer;
  font-size: 30px;
}
 
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #faee2e;
}
 
