@charset "UTF-8";

body {
    text-align: center;
}
h1{
	color:yellow;
}
.border{
	border: solid;
	line-width:13px;
	border-color: blue;
	
}
.col-4 content{
	 font-size:85px;
}
#seebotton{
	color:orange;

}
#postbotton{
	color:green;
}

